<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert data here</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
crossorigin="anonymous">


</head>
<body>

<div class="p"  align="center">
<h1>Customer Details </h1>

<form action="#" th:action="@{/savedata}" th:object="${newData}" method="POST">

     <input type="text" th:field= "*{customer_name}" required="required" 
     placeholder="Enter Customer Name" class="form-control mb-4 col-4" />
     
      <input type="text" th:field= "*{material_name}"  required="required"
     placeholder="Enter Material Name" class="form-control mb-4 col-4" />
     
       <input type="text" th:field= "*{quantity}"  required="required"
     placeholder="Enter quntity" class="form-control mb-4 col-4" />
     
     <input type="text" th:field= "*{material_size}" required="required" 
     placeholder="Enter Material Size" class="form-control mb-4 col-4" />
     
     <input type="text" th:field= "*{selling_price}"  required="required"
     placeholder="Enter Seeling price" class="form-control mb-4 col-4" /> 
     

<button type="submit" class="btn btn-secondary">Submit</button>
<button type="reset"  class="btn btn-info">Clear</button>
<br>

<a th:href= "@{/}" >Go Back</a>



</form>

</div>


</body>
</html>