<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update</title>


<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
crossorigin="anonymous">


</head>
<body>


<fieldset>
<div class="container my-2">
<h1>Update Data</h1>

<form action="#" th:action="@{/savedata}" th:object="${newUpdate}" method="POST">

   <div>
        
        <input type="hidden" th:field="*{id}"/>
   </div>
   <br>
   
   
   <div>
        <label for="name" >Customer Name</label>
        <input type="text" th:field="*{customer_name}"placeholder="Update Customer Name" class="form-conrol mb-4 col-4"/>
   </div>
   <br>
   
   
    <div>
        <label for="name" >Material Name</label>
        <input type="text" th:field="*{material_name}"placeholder="Update Material Name" class="form-conrol mb-4 col-4"/>
   </div>
   <br>
   
   
   
   <div>
        <label for="number" >Quantity</label>
        <input type="text" th:field="*{quantity}" placeholder="Update quantity" class="form-conrol mb-4 col-4"/>
   </div>
          <br>
          
          
          
   <div>
        <label for="name" >Material Size</label>
        <input type="text" th:field="*{material_size}" placeholder="Updated Size" class="form-conrol mb-4 col-4"/>
   </div>
          <br>
          
                  
                    
   <div>
        <label for="number" >Price</label>
        <input type="text" th:field="*{selling_price}" placeholder="Updated Price" class="form-conrol mb-4 col-4"/>
   </div> 
          <br>
          
          
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="reset" class="btn btn-secondary">Clear</button>
          <br>
          
          <a th:href="@{/}">Go Back</a>

</form>

</div>


</fieldset>

</body>
</html>